/* Importando a fonte que será utilizada no site | Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
	box-sizing: border-box; /* O box-sizing com o valor border-box faz com que o navegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura */
}

body {
	background: url(./img/FundoUm.png) no-repeat; /* Imagem do fundo | sem repetição */
    background-size: cover; /* Tamanho de cobertura máxima da página */
    background-position: center; /* Imagem localizada no centro */
    background-attachment: fixed; /* Imagem fixa */
	font-family: 'Poppins', sans-serif; /* Fonte */
	display: flex; /* Layout flexível */
	align-items: center; /* Alinhamento */
	justify-content: center; /* Alinhamento do conteúdo */
	min-height: 100vh; /* Altura mínima */
	margin: 0; /* Margem */
}

/* CONTAINER */
.container {
    margin-top: 100px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
}

/* DIV - TOPO */
.topo {
    margin-top: 30px;
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.topo h2 {
    margin-top: 30px;
	margin: 0;
}

/* FORMULÁRIO */
.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
	font-size: 12px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	display: block;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

/* Foco | Local onde o mouse clicou a última vez */
.form-control input:focus {
	outline: 0;
	border-color: #777;
}

/* Sucesso */
.form-control.success input {
	border-color: #2ecc71;
}

/* Erro */
.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
	font-size: 12px;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #bac34e;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}

.form button:hover {
    background-color: #222;
    cursor: pointer;
}

/* Media | Responsividade da aba */
@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}